n9244255Sales/src/Sales.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://sales/" name="Sales" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://sales/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://sales/" schemaLocation="Sales_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="request">
    <part name="parameters" element="tns:request"/>
  </message>
  <message name="requestResponse">
    <part name="parameters" element="tns:requestResponse"/>
  </message>
  <message name="reject">
    <part name="parameters" element="tns:reject"/>
  </message>
  <message name="rejectResponse">
    <part name="parameters" element="tns:rejectResponse"/>
  </message>
  <message name="inStock">
    <part name="parameters" element="tns:inStock"/>
  </message>
  <message name="inStockResponse">
    <part name="parameters" element="tns:inStockResponse"/>
  </message>
  <message name="acceptQuote">
    <part name="parameters" element="tns:acceptQuote"/>
  </message>
  <message name="acceptQuoteResponse">
    <part name="parameters" element="tns:acceptQuoteResponse"/>
  </message>
  <portType name="Sales">
    <operation name="request">
      <input wsam:Action="http://sales/Sales/requestRequest" message="tns:request"/>
      <output wsam:Action="http://sales/Sales/requestResponse" message="tns:requestResponse"/>
    </operation>
    <operation name="reject">
      <input wsam:Action="http://sales/Sales/rejectRequest" message="tns:reject"/>
      <output wsam:Action="http://sales/Sales/rejectResponse" message="tns:rejectResponse"/>
    </operation>
    <operation name="inStock">
      <input wsam:Action="http://sales/Sales/inStockRequest" message="tns:inStock"/>
      <output wsam:Action="http://sales/Sales/inStockResponse" message="tns:inStockResponse"/>
    </operation>
    <operation name="acceptQuote">
      <input wsam:Action="http://sales/Sales/acceptQuoteRequest" message="tns:acceptQuote"/>
      <output wsam:Action="http://sales/Sales/acceptQuoteResponse" message="tns:acceptQuoteResponse"/>
    </operation>
  </portType>
  <binding name="SalesPortBinding" type="tns:Sales">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="request">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="reject">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="inStock">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="acceptQuote">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Sales">
    <port name="SalesPort" binding="tns:SalesPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

