n9244255Sales/src/conf/wsdl/fastws.qut.edu.au_8080/ResourcePlanner/ResourcePlanner.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://sales/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sales/">

<xs:element name="inStock" type="tns:inStock"/>

<xs:element name="inStockResponse" type="tns:inStockResponse"/>

<xs:complexType name="inStock">
<xs:sequence>
<xs:element name="offerId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inStockResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>