n9244255Client/xml-resources/web-service-references/Sales/wsdl/fastws.qut.edu.au_8080/Sales/Sales.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://n9244255sales/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://n9244255sales/" name="Sales">
<wsp:Policy wsu:Id="SalesPortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://n9244255sales/" schemaLocation="http://fastws.qut.edu.au:8080/Sales/Sales?xsd=1"/>
</xsd:schema>
</types>
<message name="request">
<part name="parameters" element="tns:request"/>
</message>
<message name="requestResponse">
<part name="parameters" element="tns:requestResponse"/>
</message>
<message name="acceptQuote">
<part name="parameters" element="tns:acceptQuote"/>
</message>
<message name="acceptQuoteResponse">
<part name="parameters" element="tns:acceptQuoteResponse"/>
</message>
<message name="reject">
<part name="parameters" element="tns:reject"/>
</message>
<message name="rejectResponse">
<part name="parameters" element="tns:rejectResponse"/>
</message>
<message name="acceptDelay">
<part name="parameters" element="tns:acceptDelay"/>
</message>
<message name="acceptDelayResponse">
<part name="parameters" element="tns:acceptDelayResponse"/>
</message>
<portType name="Sales">
<operation name="request">
<input wsam:Action="http://n9244255sales/Sales/requestRequest" message="tns:request"/>
<output wsam:Action="http://n9244255sales/Sales/requestResponse" message="tns:requestResponse"/>
</operation>
<operation name="acceptQuote">
<input wsam:Action="http://n9244255sales/Sales/acceptQuoteRequest" message="tns:acceptQuote"/>
<output wsam:Action="http://n9244255sales/Sales/acceptQuoteResponse" message="tns:acceptQuoteResponse"/>
</operation>
<operation name="reject">
<input wsam:Action="http://n9244255sales/Sales/rejectRequest" message="tns:reject"/>
<output wsam:Action="http://n9244255sales/Sales/rejectResponse" message="tns:rejectResponse"/>
</operation>
<operation name="acceptDelay">
<input wsam:Action="http://n9244255sales/Sales/acceptDelayRequest" message="tns:acceptDelay"/>
<output wsam:Action="http://n9244255sales/Sales/acceptDelayResponse" message="tns:acceptDelayResponse"/>
</operation>
</portType>
<binding name="SalesPortBinding" type="tns:Sales">
<wsp:PolicyReference URI="#SalesPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="request">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="acceptQuote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="acceptDelay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Sales">
<port name="SalesPort" binding="tns:SalesPortBinding">
<soap:address location="http://fastws.qut.edu.au:8080/Sales/Sales"/>
</port>
</service>
</definitions>